.swiper-pagination {
    position: absolute !important;
    display: flex !important;
    justify-content: center;
}

.swiper-pagination-bullet {
    width: 20px !important;
    background: #fff !important;
    opacity: 0.2 !important;
    border-radius: 0 !important;
    margin: 0 !important;
}

.swiper-pagination-bullet-active {
    background: #DE5126 !important;
    opacity: 1 !important;
}

.swiper-pagination-vertical.swiper-pagination-bullets {
    top: initial !important;
    bottom: 0px !important;
}

/* .swiper-slide{
    width: 530px !important;
} */

.blogPagination li:first-child,
.blogPagination li:last-child {
    background-color: #DE5126 !important;
    padding: 12px !important;
    border-radius: 50% !important;
    color: #FFF;
}

.blogPagination li.disabled {
    opacity: 0.8 !important;
    color: #FFF;
}

.blogPagination li {
    padding: 0 6px;
    color: #6f7173;
    margin: 0 10px;
}

.blogPagination li.active {
    display: none;
}

::-webkit-scrollbar {
    width: 5px;
    background: #8d8c8c;
    border-radius: 5px;
    /* display: none; */
}

::-webkit-scrollbar-thumb {
    background: #efeff1;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ea7c5b;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.press-custom-class .swiper-pagination-bullet-active {
    background: #FFF !important;
    opacity: 1 !important;
}

.companies-list ul{
    display: flex;
    flex-wrap: wrap;
    column-gap: 2rem;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2.5rem;
}

.team-item {
    font-size: 1.125rem;
    line-height: 1.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arimo;
    font-weight: 500;
    color: #60646C;
}

.team-item:hover {
    color: #DE5126;
}

.team-item::after {
    content: url("../src/Component/PortfolioCompanies/images/ArrowTopRight.svg");
    margin-left: 5px;
    transition: transform 0.3s ease;
}

.team-item:hover::after {
    filter: invert(36%) sepia(100%) saturate(7473%) hue-rotate(346deg) brightness(100%) contrast(104%);
    
}